@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

::selection{
  color:#ffffff;
  background-color:#BAAAF7;}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body{
  height: 100%;
}
html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #BAAAF7;
}

section {
  padding: 5rem 9%;
}

/*Universal Buttons*/
.btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid #FFC2F2;
  color: white;
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}

.btn2 {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid #FFC2F2;
  color: black;
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}

.btn2:hover {
  background: #FFC2F2;
  color: #fff;
}
.btn:hover {
  background: #FFC2F2;
  color: #fff;
}
 /*Heading*/
.heading {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: #10221b;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header.active {
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.logo img{
  height: 100px;
  width: 100px;
}

.logo2 img{
  display: none;
}

.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  color: #10221b;
  font-weight: bolder;
}

.header .logo i {
  color: #219150;
}

.header .navbar a {
  margin-left: 2rem;
  text-decoration: none;
  font-size: 1.7rem;
  text-decoration: none;
  color: #10221b;
}

.header .navbar a:hover {
  color: #FFC2F2;
}

.header .navbar #nav-close {
  font-size: 5rem;
  cursor: pointer;
  color: #10221b;
  display: none;
}

.header .icons a,
.header .icons div {
  font-size: 2.5rem;
  margin-left: 2rem;
  text-decoration: none;
  cursor: pointer;
  color: #10221b;
}

.header .icons a:hover,
.header .icons div:hover {
  color: #FFC2F2;
}

.header #menu-btn {
  display: none;
}


/*Search Form*/
.search-form {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 10000;
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
  }
  
  .search-form.active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  
  .search-form #close-search {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    cursor: pointer;
    color: #fff;
    font-size: 6rem;
  }
  
  .search-form #close-search:hover {
    color: #FFC2F2;
  }
  
  .search-form form {
    width: 70rem;
    margin: 0 2rem;
    padding-bottom: 2rem;
    border-bottom: 0.2rem solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .search-form form input {
    width: 100%;
    font-size: 2rem;
    color: #fff;
    text-transform: none;
    background: none;
    padding-right: 2rem;
  }
  
  .search-form form input::-webkit-input-placeholder {
    color: #aaa;
  }
  
  .search-form form input:-ms-input-placeholder {
    color: #aaa;
  }
  
  .search-form form input::-ms-input-placeholder {
    color: #aaa;
  }
  
  .search-form form input::placeholder {
    color: #aaa;
  }
  
  .search-form form label {
    font-size: 3rem;
    cursor: pointer;
    color: #fff;
  }
  
  .search-form form label:hover {
    color: #FFC2F2;
  }

  
/*Home1*/
.home1 {
    padding: 0;
  }
  
  .home1 .box {
    min-height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-size: cover !important;
    background-position: bottom !important;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: center;
            text-align: center;
    padding: 2rem 9%;
  }
  
  .home1 .box .content {
    width: 50rem;
  }
  
  .home1 .box .content h3 {
    font-size: 6rem;
    color: #FFC2F2;
    padding-top: .5rem;
    text-transform: uppercase;
   
  }
  
  
/*Category*/
#category {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    margin: 50px auto;
}
.category-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.category-heading h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #202020;
    letter-spacing: 0.5px;
}
.category-heading span {
    color: #a7a7a7;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1.70rem;
}
.category-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.category-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    border-radius: 10px;
    min-height: 200px;
    width: 170px;
    border: 1px solid rgba(0,0,0,0.03);
    text-decoration: none;
}
.category-box img{
    height: 70px;
    width: 150px;
    object-fit: contain;
    object-position: center;
    transition: all ease 0.1s;
}
.category-box span{
    color: #393939;
    font-size: 1.30rem;
    margin-top: 20px;
    letter-spacing: 0.3px;
    font-weight: 600;
}
.category-box:hover img{
    transform: scale(1.1);
    transition: all ease 0.1s;
}


/*Products*/
.container{
    max-width: 1700px;
    max-height: 1700px;
    margin:0 auto;
    padding:3rem 2rem;
    flex: 1 1 auto;
 }
 
 .container .title{
    font-size: 3.5rem;
    color:#444;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: left;
 }
 

 .container .products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
 }
 
 .container .products-container .product{
    text-align: center;
    padding:3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;
 }
 .container .products-container .product .discount{
    position: absolute;
    top:1rem; left:1rem;
    padding:.7rem 1rem;
    font-size: 2rem;
    color:var(--pink);
    background:rgba(255, 51, 153,.05);
    z-index: 1;
    border-radius: .5rem;
  }
  
 .container .products-container .product:hover{
    outline: .2rem solid #222;
    outline-offset: 0;
 }
 

 .container .products-container .product img{
    height: 25rem;
 }
 
 .container .products-container .product:hover img{
    transform: scale(.9);
 }
 
 .container .products-container .product h3{
    padding:.5rem 0;
    font-size: 2rem;
    color:#444;
 }
 
 .container .products-container .product:hover h3{
    color:#BAAAF7;
 }
 
 .container .products-container .product .price{
    font-size: 2rem;
    color:#444;
 }


 .container .products-container .product span{
    font-size: 1.5rem;
    color:#999;
    font-weight: medium;
    text-decoration: line-through;
  }
 
 /*Preview*/
 .products-preview{
    position: fixed;
    top:80px; left:0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
 }
 
 .products-preview .preview{
    display: none;
    padding:2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin:2rem;
    width: 50rem;
 }
 
 /*.products-preview .preview .discount{
    position: absolute;
    top:1rem; left:1rem;
    padding:.7rem 1rem;
    font-size: 2rem;
    color:var(--pink);
    background:rgba(255, 51, 153,.05);
    z-index: 1;
    border-radius: .5rem;
  }*/
  
 .products-preview .preview.active{
    display: inline-block;
 }
 
 .products-preview .preview img{
    height: 30rem;
 }
 
 .products-preview .preview .fa-times{
    position: absolute;
    top:1rem; right:1.5rem;
    cursor: pointer;
    color:#444;
    font-size: 4rem;
 }
 
 .products-preview .preview h3{
    color:#444;
    padding:.5rem 0;
    font-size: 2.5rem;
 }
 
 .products-preview .preview .stars{
    padding:1rem 0;
    font-size: 1.7rem;
 }
 
 .products-preview .preview .stars i{
    color:#FFC2F2;
 }
 
 .products-preview .preview .stars span{
    color:#999;
 }
 
 .products-preview .preview p{
    line-height: 1.5;
    padding:1rem 0;
    font-size: 1.6rem;
    color:#777;
 }
 
 .products-preview .preview .price{
    padding:1rem 0;
    font-size: 2.5rem;
    color:#BAAAF7;
 }
 
 .products-preview .preview .price span{
    font-size: 1.5rem;
    color:#999;
    font-weight: medium;
    text-decoration: line-through;
  }

 .products-preview .preview .buttons{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
 }
 
 .products-preview .preview .buttons a{
    flex:1 1 16rem;
    padding:1rem;
    text-decoration: none;
    font-size: 1.8rem;
    color:#444;
    border:.1rem solid #444;
 }
 
 .products-preview .preview .buttons a.cart{
    background: #444;
    color:#fff;
 }
 
 .products-preview .preview .buttons a.cart:hover{
    background: #111;
 }
 
 .products-preview .preview .buttons a.buy:hover{
    background: #444;
    color:#fff;
 }
  
/*Footer*/
.footer {
    background: url(../images/footer-bg.jpg) no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/footer-bg1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: inherit;
    bottom: 0%;
    z-index: 1;
  
  }
  
  .footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
  }
  
  .footer .box-container .box h3 {
    font-size: 2rem;
    padding: 1.5rem 0;
    color: #fff;
  }
  
  .footer .box-container .box span{
    color: #FFC2F2;
  }
  
  .footer .box-container .box a {
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
    color: #fff;
    padding: 1rem 0;
  }
  
  .footer .box-container .box a i {
    color: #BAAAF7;
    padding-right: .5rem;
  }
  
  .footer .box-container .box a:hover {
    color: #FFC2F2;
  }
  
  .footer .box-container .box a:hover i {
    padding-right: 2rem;
  }
  
  /*Responsive*/
  @media (max-width: 1200px) {
    .header {
      padding: 2rem;
    }
    section {
      padding: 3rem 2rem;
    }
  }
  
  @media (max-width: 991px) {
    html {
      font-size: 55%;
      scroll-padding-top: 7rem;
    }
    .home .box {
      padding: 2rem;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background-position: right !important;
    }
    .home .box.second {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background-position: left !important;
    }
    .home .box .content {
      text-align: center;
    }
    .home .box .content span {
      font-size: 3rem;
    }
    .home .box .content h3 {
      font-size: 4rem;
    }
  }
  
  @media (max-width: 768px) {
    .header #menu-btn {
      display: inline-block;
    }
    .header .navbar {
      position: fixed;
      top: 0;
      left: -110%;
      background: #fff;
      z-index: 10000;
      width: 35rem;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .header .navbar.active {
      left: 0;
      -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
              box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    }
    .header .navbar a {
      margin: 1rem 0;
      font-size: 3rem;
    }
    .header .navbar #nav-close {
      display: block;
      position: absolute;
      top: 1rem;
      right: 2rem;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
      display: none;
    }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
    .heading {
      font-size: 3rem;
    }
  }
  @media(max-width:1200px){
      #location{
          width: 90%;
      }
  }
  @media(max-width:1050px){
      #category{
          width: 90%;
      }
  }
  @media(max-width:965px){
      #location{
          flex-direction: column;
          height: 100%;
          background-color: transparent;
          margin-top: 0px;
          width: 90%;
          max-width: 100%;
      }
      .app-map{
          height: 450px;
          width: 220px;
      }
      .location-text{
          max-width: 100%;
          background-color: #FDF0FF;
          padding: 20px;
          border-radius: 20px;
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
      }
  }
  
  @media(max-width:500px){
      .category-container{
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 15px;
      }
      .category-box{
          width: 100%;
          margin: 0px;
      }

      .container{
        margin-bottom: 750px;
      }
  }
  @media(max-width:400px){
      .category-heading h2{
          font-size: 1.2rem;
      }
  }

  @media (max-width:768px){

    .products-preview .preview img{
       height: 25rem;
    }
 }

 /*@media(max-width:1200px) {
  .footer{
  bottom: 0%;
  z-index: 1;
 }
}*/

@media (min-width: 992px) {
  footer {
      position: absolute;
      bottom: 0;   
      width: 100%;
      height: 230px;
      
  }
}